.btn-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 200px;
  vertical-align: middle;
}

.fixed-button {
  width: 100px;
  height: 30px;
}

.credit-card {
  width: 100%;
  max-width: 325px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  font-family: Arial, sans-serif;
  position: relative;
}

.card-blue { background: linear-gradient(135deg, #007BFF, #0056b3); color: white; }
.card-black { background: linear-gradient(135deg, #666, #222); color: white; }
.card-diamond { background: linear-gradient(135deg, #b0b0b0, #d4d4d4, #a8a8a8); color: black; }
.card-red { background: linear-gradient(90deg, rgba(121,24,9,1) 0%, rgba(255,42,0,1) 100%); color: white; }
.card-gold { background: linear-gradient(135deg, #FFD700, #FFC107, #FFB300); color: black; }
.card-details { display: flex; flex-direction: column; justify-content: space-between; height: 100%; padding: 15px; }
.top-left-text { position: absolute; top: 10px; left: 15px; font-size: 1rem; }
.bottom-left-text { position: absolute; bottom: 10px; left: 15px; font-size: 1rem; }
.bottom-right-text { position: absolute; bottom: 10px; right: 15px; font-size: 1rem; }
.top-right-text { position: absolute; top: 10px; right: 15px; font-size: 1rem; }
.large-text { font-size: 3rem; font-weight: bold; text-align: left; margin-top: 50px; margin-left: 15px; }
.medium-text { font-size: 1.4rem; text-align: left; margin-top: 5px; margin-left: 15px; }
.min-text { font-size: 0.8rem; text-align: left; margin-bottom: 50px; margin-left: 15px; line-height: 1; }

.chip {
  width: 50px; height: 35px;
  background: linear-gradient(90deg, rgba(121,107,9,1) 0%, rgba(255,244,0,1) 100%);
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 45%;
  transform: translateY(-50%);
}

.magnetic-strip { width: 100%; height: 50%; background-color: #1a1a1a; margin-top: 20px; }
.signature-strip {
  background-color: #fff;
  height: 40px;
  width: 75%;
  margin: 20px 0 10px 15px;
  display: flex;
  align-items:center}